table th {
     background-color: #fbc25b;
     text-align: center;
    }
 
    table td {
     background-color: #f9ecd5;
     text-align: center;
    }
 
    .notice {
     background-color: #ccf;
     padding: 5px;
    }
    
    .abc{
    background-color: green;
    height: 90px;
    color: white;
    margin-top: -9px;
    padding-top: 1px;
    }
    
    table th, table td {
    border: solid 1px black;
    padding: 10px 20px;
    }
    
    table {
    border-collapse: separate;
    text-indent: initial;
    border-collapse: collapse;
    border-spacing: 2px;
    }
    